{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}?v=2">
    <title>Page Non Trouver</title>
</head>
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
        background-color: #656fd7;
    }
    h1 {
        font-size: 3rem;
        color: #dc3545;
    }
    p {
        font-size: 1.5em;
        color: #6c757d;
    }
</style>
<body>
    <div>
        <h1>404</h1>
        <p>Oups! La page que vous recherchez n'existe pas.</p>
    </div>
    
</body>
</html>