{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}?v=2">
    <link rel="stylesheet" href="{% static 'css/connexion.css' %}?v=2">
    <link rel="stylesheet" href="{% static 'css/icons/bootstrap-icons.css' %}?v=2">
    <title>connexion - iot-serrure</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <legend>Connexion</legend>
            <p style="text-align: center;">Connectez-vous pour accéder à votre compte.</p>
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red; font-family: 'Courier New', Courier, monospace; font-size: 1.2em; text-align: center;">{{ message }}</p>
                {% endfor %}
            {% endif %}
            <label for="identifiant" id="em">Identifiant:</label>
            <input type="text" id="identifiant" name="identifiant" required="required" class="identifiant"/>
            <div class="line"></div>
            <label for="password" id="pwd">Mot de passe:</label>
            <input type="password" id="password" name="password" required="required" class="password"/>
            <i class="bi bi-eye-slash" style="font-size: 1.2rem; color: black; margin-left: -50px; cursor: pointer;" id="voirMotdePasse"></i>
            <div id="submit"><input type="submit" value="CONNEXION" class="submit" id="submit-button"/></div>
            <p><a href="{% url 'iot_serrure:password_reset' %}" class="forgotpass">Mot de passe oublié ? </a></p>
        </form>
    </div>
    <footer>
        <p id="foot"></p>
    </footer>
    <script src="{% static 'js/connexion.js' %}?v=2"></script>
</body>
</html>