{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}?v=2">
    <link rel="stylesheet" href="{% static 'css/connexion.css' %}?v=2">
    <link rel="stylesheet" href="{% static 'css/icons/bootstrap-icons.css' %}?v=2">
    <title>Mot de passe oublier - iot-serrure</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <legend>Recherche de comptes</legend>
            <p style="text-align: center;">Recevez un mail de réinitialisation de mot de passe.</p>
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red; font-family: 'Courier New', Courier, monospace; font-size: 1.2em; text-align: center;">{{ message }}</p>
                {% endfor %}
            {% endif %}
            <label for="identifiant" id="em">Identifiant ou Email :</label>
            <input type="text" id="identifiant" name="email-identifiant" required="required" class="identifiant"/>
            
            <div id="submit"><input type="submit" value="ENVOYER" class="submit" id="submit-button"/></div>
            <p><a href="{% url 'iot_serrure:connexion' %}" class="forgotpass">Retour à la page de connexion </a></p>
        </form>
    </div>
    <footer>
        <p id="foot"></p>
    </footer>
    <script>
        const identifiant_label = document.getElementById('em');
        const foot = document.querySelector('#foot');
        const identifiant_input = document.getElementById('identifiant');



        identifiant_input.addEventListener('focus', function() {
            identifiant_label.style.transition = 'all 0.3s ease';
            identifiant_label.style.transform = 'translateY(98%)';
            if (identifiant_input.value !== '') {
                identifiant_label.style.color = '#656fd7';
                identifiant_input.style.borderColor = '#656fd7';
            } else {
                identifiant_label.style.color = 'red';
                identifiant_input.style.borderColor = 'red';
            }
            
            identifiant_label.style.fontSize = '0.9rem';
            identifiant_label.style.width = '200px';
            identifiant_label.style.backgroundColor = '#ffff'
        });

        identifiant_input.addEventListener('input', function() {
            if (identifiant_input.value !== '') {
                identifiant_label.style.color = '#656fd7';
                identifiant_input.style.borderColor = '#656fd7';
            } else {
                identifiant_label.style.color = 'red';
                identifiant_input.style.borderColor = 'red';
            }
        });

        identifiant_input.addEventListener('blur', function() {
            if (identifiant_input.value === '') {
                identifiant_label.style.transition = 'all 0.3s ease';
                identifiant_label.style.transform = 'translateY(190%)';
                identifiant_input.style.borderColor = '#000000ff';
                identifiant_label.style.fontSize = '1.2rem'
                identifiant_label.style.width = '90%';
                identifiant_label.style.color = '#02000080';
            }
        });

        

        document.addEventListener('DOMContentLoaded', function(e){
            if (identifiant_input.value !== '') {
                identifiant_label.style.transform = 'translateY(100%)';
                identifiant_label.style.fontSize = '0.9rem';
                identifiant_label.style.backgroundColor = '#ffffff'
                identifiant_label.style.color = '#656fd7';
                identifiant_input.style.borderColor = '#656fd7';
            }
           
        });
        

        submit_button.addEventListener('click', function() {
            if (identifiant_input.value === '') {
                identifiant_label.style.transition = 'all 0.3s ease';
                identifiant_label.style.color = 'red';
                identifiant_input.style.borderColor = 'red';
            }
        });
        const old = new Date().getFullYear();
        foot.innerHTML = `&copy; ${old} Serrure Electronique. Tout droits réservés.`

    </script>
</body>
</html>