{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Opération de réinitialisation de mot de passe</title>
</head>
<body>
    <h2>{{ surname }} !</h2>
    <p>Nous avions reçu une demande de réinitialisation de mot de passe de votre part. Cliquez sur le lien ci-dessous pour confirmer votre demande</p>
    <p><a href="{{ reset_url }}">Réinitialiser votre mot de passe</a></p>
    <p>Si vous n'êtes pas l'auteur de cette demande, ignorez cet email</p>
    <br>
    <br>
    <p id="foot"></p>
    <script src="">
        const foot = document.querySelector('#foot');
        const old = new Date().getFullYear();
        foot.innerHTML = `&copy; ${old} Serrure Electronique. Tout droits réservés.`
    </script>
</body>
</html>