{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}?v=2">
    <link rel="stylesheet" href="{% static 'css/connexion.css' %}?v=2">
    <link rel="stylesheet" href="{% static 'css/icons/bootstrap-icons.css' %}?v=2">
    <title>Modification de mot de passe - iot-serrure</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            <legend>Réinitialisation de mot de passe</legend>
            <p style="text-align: center;">Modifier votre mot de passe pour sécuriser votre compte</p>
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red; font-family: 'Courier New', Courier, monospace; font-size: 1.2em; text-align: center;">{{ message }}</p>
                {% endfor %}
            {% endif %}
            <label for="identifiant" id="em">Nouveau mot de passe :</label>
            <input type="password" id="identifiant" name="new_password" required="required" class="identifiant"/>
            <i class="bi bi-eye-slash" style="font-size: 1.2rem; color: black; margin-left: -50px; cursor: pointer;" id="voirMotdePasse2"></i>
            <div class="line"></div>
            <label for="password" id="pwd">Confirmer mot de passe :</label>
            <input type="password" id="password" name="confirm_password" required="required" class="password"/>
            <i class="bi bi-eye-slash" style="font-size: 1.2rem; color: black; margin-left: -50px; cursor: pointer;" id="voirMotdePasse"></i>
            <div id="submit"><input type="submit" value="MODIFIER" class="submit" id="submit-button"/></div>
        </form>
    </div>
    <footer>
        <p id="foot"></p>
    </footer>
    <script>
        const identifiant_label = document.getElementById('em');
        const foot = document.querySelector('#foot');
        const password_label = document.getElementById('pwd');
        const identifiant_input = document.getElementById('identifiant');
        const password_input = document.getElementById('password');
        const submit_button = document.getElementById('submit-button');
        const togglepass = document.querySelector('#voirMotdePasse');
        const togglepass2 = document.querySelector('#voirMotdePasse2');


        identifiant_input.addEventListener('focus', function() {
            identifiant_label.style.transition = 'all 0.3s ease';
            identifiant_label.style.transform = 'translateY(98%)';
            if (identifiant_input.value !== '') {
                identifiant_label.style.color = '#656fd7';
                identifiant_input.style.borderColor = '#656fd7';
            } else {
                identifiant_label.style.color = 'red';
                identifiant_input.style.borderColor = 'red';
            }
            identifiant_label.style.fontSize = '0.9rem';
            identifiant_label.style.width = '200px';
            identifiant_label.style.backgroundColor = '#ffff'
            togglepass2.style.display = 'inline';
        });

        identifiant_input.addEventListener('input', function() {
            if (identifiant_input.value !== '') {
                identifiant_label.style.color = '#656fd7';
                identifiant_input.style.borderColor = '#656fd7';
            } else {
                identifiant_label.style.color = 'red';
                identifiant_input.style.borderColor = 'red';
            }
        });

        identifiant_input.addEventListener('blur', function() {
            if (identifiant_input.value === '') {
                identifiant_label.style.transition = 'all 0.3s ease';
                identifiant_label.style.transform = 'translateY(190%)';
                identifiant_input.style.borderColor = '#000000ff';
                identifiant_label.style.fontSize = '1.2rem'
                identifiant_label.style.width = '90%';
                identifiant_label.style.color = '#02000080';
                identifiant_input.setAttribute('type', 'password');
                togglepass2.style.display = 'none';
                togglepass2.classList.remove('bi-eye');
            }
        });

        password_input.addEventListener('input', function() {
            if (password_input.value !== '') {
                password_label.style.color = '#656fd7';
                password_input.style.borderColor = '#656fd7';
            } else {
                password_label.style.color = 'red';
                password_input.style.borderColor = 'red';
            }
        });

        password_input.addEventListener('focus', function() {
            password_label.style.transition = 'all 0.3s ease';
            password_label.style.transform = 'translateY(98%)';
            if (password_input.value !== '') {
                password_label.style.color = '#656fd7';
                password_input.style.borderColor = '#656fd7';
            } else {
                password_label.style.color = 'red';
                password_input.style.borderColor = 'red';
            }
            password_label.style.backgroundColor = '#ffff';
            password_label.style.width = '210px';
            password_label.style.fontSize = '0.9rem';
            togglepass.style.display = 'inline';
        });
        password_input.addEventListener('blur', function() {
            if (password_input.value === '') {
                //password_label.style.transition = 'all 0.3s ease';
                password_label.style.transform = 'translateY(190%)';
                password_label.style.color = '#02000080';
                password_label.style.fontSize = '1.2rem';
                password_input.style.borderColor = '#000';
                password_label.style.width = '90%'
                password_input.setAttribute('type', 'password');
                togglepass.style.display = 'none';
                togglepass.classList.remove('bi-eye');
            }
        });

        document.addEventListener('DOMContentLoaded', function(e){
            if (identifiant_input.value !== '') {
                identifiant_label.style.transform = 'translateY(100%)';
                identifiant_label.style.fontSize = '0.9rem';
                identifiant_label.style.backgroundColor = '#ffffff'
                identifiant_label.style.color = '#656fd7';
                identifiant_input.style.borderColor = '#656fd7';
            }
            if (password_input.value !== '') {
                password_label.style.transition = 'all 0.3s ease';
                password_label.style.transform = 'translateY(100%)';
                password_label.style.color = '#656fd7';
                password_label.style.backgroundColor = '#ffffff';
                password_label.style.fontSize = '0.9rem';
                password_input.style.borderColor = "#656fd7";
            } else {
                togglepass.style.display = 'none';
            }
        });
        document.addEventListener('load', (e) => {
            if (password_input.value === '') {
                togglepass.style.display = 'none';
            }
        })
        togglepass.addEventListener('click', function(e) {
            e.preventDefault();
            const isPasswordVisible = password_input.getAttribute('type') === 'password' ? 'text' : 'password';
            password_input.setAttribute('type', isPasswordVisible);
            togglepass.classList.toggle('bi-eye');
        });

        togglepass2.addEventListener('click', function(e) {
            e.preventDefault();
            const isPasswordVisible = identifiant_input.getAttribute('type') === 'password' ? 'text' : 'password';
            identifiant_input.setAttribute('type', isPasswordVisible);
            togglepass2.classList.toggle('bi-eye');
        });

        submit_button.addEventListener('click', function() {
            if (identifiant_input.value === '') {
                identifiant_label.style.transition = 'all 0.3s ease';
                identifiant_label.style.color = 'red';
                identifiant_input.style.borderColor = 'red';
            }
            if (password_input.value === '') {
                password_label.style.transition = 'all 0.3s ease';
                password_label.style.color = 'red';
                password_input.style.borderColor = 'red';
            }
        });
        const old = new Date().getFullYear();
        foot.innerHTML = `&copy; ${old} Serrure Electronique. Tout droits réservés.`

    </script>
</body>
</html>